{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock head_title %}

{% block content %}
<div class="signin-up-out container text-center">
  <div class="row justify-content-md-center box p-5">
<h1 class="signout-title">{% trans "Sign Out" %}</h1>

<p class="text">{% trans 'Are you sure you want to leave the site? ' %} <br>You can sign back in at any time.
</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn sg-btn" type="submit">{% trans 'Sign Out' %}</button>
  <a href="{% url 'home' %}" class="btn home-btn">Go to Home page</a>
</form>
  </div>
</div>

{% endblock content %}
