{% extends 'base.html' %} {% load static %} {% block content %}
{% load crispy_forms_tags %}
<!-- Booking page -->
<h1 class="book-title text-center p-5">Ready to Burger Up?</h1>
<div class="container">
  <div class="row">
    <!--Carousel with images showing people having burgers out in town-->
     <div class="col-md-6">
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide carousel-fade"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="3000">
            <img
              src="{% static 'images/family-burger.png' %}"
              class="d-block w-100"
              height="400"
              alt="Family day out for burgers."
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="{% static 'images/date-burger.png' %}"
              class="d-block w-100"
              height="400"
              alt="Couple with burgers and drinks for a date."
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="{% static 'images/business-burger.png' %}"
              class="d-block w-100"
              height="400"
              alt="Business meeting out at a restaurant."
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="{% static 'images/friends-burger.png' %}"
              class="d-block w-100"
              height="400"
              alt="Friends out for burgers."
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="{% static 'images/group-burger.png' %}"
              class="d-block w-100"
              height="400"
              alt="A group of people sitting at a table waiting to be served."
            />
          </div>
          <div class="carousel-item" data-bs-interval="3000">
            <img
              src="{% static 'images/group-burger1.png' %}"
              class="d-block w-100"
              height="400"
              alt="Group of people eating burgers."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!--Intro before booking a table-->
    <div class="col-md-6">
      <p class="book-text align-content-center px-5 py-2">
        Craving bold flavors, juicy burgers, and unforgettable vibes? Book your
        table now and skip the wait! Whether it’s a casual lunch, a night out
        with friends, or a special celebration, we’ve got the perfect spot for
        you. <br> <br /><i class="fa-solid fa-burger"></i> Fresh, handcrafted
        burgers. <br /><i class="fa-solid fa-user-group"></i> Great for groups,
        families, or date nights. <br /><i class="fa-regular fa-clock"></i>
        Quick and easy online booking. 
      </p>
      {% if user.is_authenticated %}
      <div class="col-12 text-center">
        <!-- Modal button for booking form -->
        <button id="openCreateModal" class="btn" data-url="{% url 'bookingForm' %}">
          Make a New Booking
        </button>
        <a href="{% url 'bookingList' %}" class="btn">View your Bookings</a>
        {% else %}
        <p class="else-text text-center"><strong>To book or view your bookings, please sign in:</strong></p>
        <div class="col-12 d-flex justify-content-center">
        <a
          class="nav-link {% if request.path == login_url %}active{% endif %} btn btn-lg px-4 py-3 fs-5"
          aria-current="page" role="button"
          href="{% url 'account_login' %}"
          >Sign In</a
        ><span class="border fs-4 text pt-2">OR</span>
        <a
          class="nav-link {% if request.path == signup_url %}active{% endif %} btn btn-lg px-4 py-3 fs-5"
          aria-current="page" role="button"
          href="{% url 'account_signup' %}"
          >Sign Up</a
        ></div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<!--Modal-->
<div class="modal fade {% if modal_show %}show d-block{% endif %}" id="modalForm" tabindex="-1" aria-hidden="true" {% if modal_show %}style="background-color:rgba(0,0,0,.5);" aria-modal="true" role="dialog"{% endif %}>
    <div class="modal-dialog">
        <div class="modal-content">
            {% if modal_type == 'new_booking' %}
            <form action="{{ modal_action }}" method="POST" class="ajax-form">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">{{ modal_title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id="modalCloseButton"></button>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    <div class="alert alert-danger">Form not submitted! Please fix the errors shown!</div>
                    {% endif %}
                    {{ form|crispy }}
                </div>
                <div class="modal-footer">
                    <button class="btn save-btn" type="submit">SAVE</button>
                    <button class="btn cancel-btn" type="button" data-bs-dismiss="modal" id="modalCancelButton">CANCEL</button>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
