{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- Booking list -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="list-title text-center pb-2">My Bookings</h2>
    </div>

    <div class="col">
      <table class="table table-hover table-striped-columns table-sm custom-table">
        <thead class="text-center">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Number of Guests</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for booking in bookings %}
          <tr>
            <td scope="row">{{ booking.date }}</td>
            <td>{{ booking.time }}</td>
            <td>{{ booking.number_of_guests }}</td>
            <td>
              {% if booking.status == 1 %}Confirmed
              {% elif booking.status == 2 %}Cancelled
              {% elif booking.status == 3 %}Rejected
              {% else %}Pending
              {% endif %}
            </td>
            {% if booking.status != 2 and booking.status != 3 %}
            <td class="text-center">
              <button
                class="btn custom-btn update-btn openUpdateModal"
                data-url="{% url 'bookingUpdate' booking.pk %}"
              >
                Update
              </button>
              <button
                class=" btn custom-btn del-btn openDeleteModal"
                data-url="{% url 'bookingDelete' booking.pk %}"
              >
                Delete
              </button>
            </td>
            {% else %}
            <td><em>No actions available</em></td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="5">No existing bookings!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col">
      <button
          id="openCreateModal"
          class="btn book-btn"
          data-url="{% url 'bookingForm' %}"
        >
          Make a New Booking
      </button>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/modals.js' %}"></script>
{% endblock %}