/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Playpen+Sans:wght@100..800&display=swap");

.text, .about-intro, .book-text, .else-text, .text-log {
    font-family: "Playpen Sans", sans-serif;
    color: #8a3232;
}
.text-log {
    font-size: small;
}
/* Nav bar */
header,
footer {
  background-color: #8a3232;
}
#navbar {
  margin: 0;
  padding-left: 0;
  padding-right: 20px;
}

.navbar-brand {
  margin-right: 0;
  padding: 0;
}
.nav-link,
.quote,
.fa-brands,
footer h3 {
  color: #ffb580;
  font-family: "Atma", sans-serif;
}
body {
  background-color: #ffffe1;
}
main {
  height: 100vh;
}
/* home page-about text index.html*/
.about-box, .box {
  margin: 20px;
  border: 1px solid;
  border-color: saddlebrown;
  margin: auto;
}

/* Titles */
.about-title, .signin-title, .signup-title, .signout-title, .book-title, .list-title {
  color: #660000;
  font-family: "Atma", sans-serif;
}


.no-wrap {
    flex-wrap: nowrap;
}
.about-img {
    padding: 20px;
    max-width: 100%;
  height: auto;
}

/* Sign in page*/
.signin-up-out {
  padding: 60px;
}
.forgot, .signup-link, .signin-link {
    font-family: "Playpen Sans", sans-serif;
    color: red;
}

/* Buttons */

.btn {
  background-color: #8a3232;
  color: #ffb580;
  font-family: "Atma", sans-serif;
  border: 2px solid #660000;
}
.btn:hover {
    background-color: #ffb580;
    color: #660000;
    border: 2px solid #660000;
}

/* Footer */
.footer {
    padding-top: 10px;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
hr {
  margin: unset;
}
.copyright {
  color: #d2946f;
  font-size: 12px;
  padding-top: 5;
}


