{% extends 'base.html' %} {% load static %} {% block content %}
<!-- About info starts here -->
<div class="about container-fluid">
  <div class="row">
    <div class="col-6 p-5 about-box">
      <h2 class="about-title text-center">Who is behind DVDine Burgers?</h2>
      <p class="about-intro">
        At DVDine Burgers, we're more than just a burger joint — we’re a
        family-owned business with a deep-rooted passion for delicious,
        wholesome food. From our kitchen to your plate, everything we serve is
        crafted with love, care, and a commitment to flavour that brings people
        together. <br />Our story began with a simple goal: to create
        mouthwatering burgers that not only taste amazing but are also made with
        quality, fresh ingredients you can feel good about. We believe that food
        should be both indulgent and nourishing — that's why we focus on recipes
        that are rich in flavour, yet thoughtfully prepared with
        health-conscious choices in mind. <br />Diversity is at the heart of
        everything we do. Our menu celebrates bold tastes from around the world,
        reflecting the vibrant mix of cultures and people who inspire us daily.
        Whether you're craving a classic bite or something with a twist, there's
        always something exciting to discover at DVDine Burgers. Come hungry,
        leave happy — that’s how we do it at DVDine. <br />Aren't you just a
        little bit curious to get to taste our Divine Burgers?
      </p>
      <div class="col-12 text-center">
        <a class="btn btn-primary about-btn" href="#" role="button"
          >Book a Table</a
        >
      </div>
    </div>
    <div class="col-6 overlap">
      <div class="overlap-img-top">
        <img
          src="{% static 'images/about-burger.png' %}"
          width="200"
          height="250"
          alt="A picture of a nice dish displaying 3 burgers and a fries basket."
        />
      </div>
      <div class="overlap-img-mid">
        <img
          src="{% static 'images/about1-burger.png' %}"
          width="150"
          height="200"
          alt="A man blured in the background showing his bitten burger."
        />
      </div>
      <div class="overlap-img-bottom">
        <img
          src="{% static 'images/about2-burger.png' %}"
          width="250"
          height="160"
          alt="Photo of 4 patty beef burgers on the barbeque."
        />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
